<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Game</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/shop-homepage.css" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Boardgames</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-3">

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

            <div class="row">
                <div class="col-lg-9 col-md-6 mb-4">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-md-6 mb-4">
                    <div class="page-header">
                        <h1>{{ game_result['title'] }}</h1></div>

                    <div class="row">
                        <div class="col-lg-5 col-md-3 mb-2">
                            <img src="{{ game_result['image_url']}}" class="img-thumbnail" alt="">
                        </div>
                        <div class="col-lg-6 col-md-3 mb-2">
                            <table class="table table-borderless">
                                <thead>
                                <tr>
                                    <th scope="col">Site</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Availability</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for site_desc in game_result.site %}
                                <tr>
                                    <th scope="row"><a href="{{site_desc.url}}"> {{ site_desc.name.upper() }} </a></th>
                                    <td>{{ site_desc.price }} PLN </td>
                                    <td>{{ site_desc.availability }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>


                    <table class="table table-borderless">

                        {% if game_result.get('BGG rank') %}
                        <tr>
                            <th scope="row">BGG rank</th>
                            <td><a href="{{ game_result['BGG link'] }}">{{ game_result['BGG rank'] }}</a></td>

                        </tr>

                        {% else %}
                        {% endif %}

                        {% if game_result.get('category') %}
                        <tr>
                            <th scope="row">Category</th>

                            <td>{% for cat in game_result['category'] %}
                                {{ cat }} <br>{% endfor %}
                            </td>

                        {% else %}
                        {% endif %}

                    </table>

                </div>
            </div>
        </div>

        <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

</div>
<!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="static/vendor/jquery/jquery.min.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
