<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Boardgames Database</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/shop-homepage.css" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Boardgames</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-3">
            <h1 class="my-4">Categories</h1>
            <form action="/">

                <h3>Shop</h3>
                {% for s in shops %}
                <div class="custom-control custom-checkbox">
                    {% if search_query.get('site') == s %}
                    <input type="checkbox" class="custom-control-input" id="{{ s }}" value="{{ s }}"
                           name="site" checked>
                    {% else %}
                    <input type="checkbox" class="custom-control-input" id="{{ s }}" value="{{ s }}"
                           name="site">
                    {% endif %}
                    <label class="custom-control-label" for="{{ s }}">{{ s|upper }}</label>
                </div>
                {% endfor %}

                <h3>Availability</h3>
                {% for a in stock %}
                <div class="custom-control custom-checkbox">
                    {% if search_query.get('availability') == a %}
                    <input type="checkbox" class="custom-control-input" id="{{ a }}" value="{{ a }}"
                           name="availability" checked>
                    {% else %}
                    <input type="checkbox" class="custom-control-input" id="{{ a }}" value="{{ a }}"
                           name="availability">
                    {% endif %}
                    <label class="custom-control-label" for="{{ a }}">{{ a }}</label>
                </div>
                {% endfor %}

                <h3>Category</h3>
                {% for b in categories %}
                <div class="custom-control custom-checkbox">
                    {% if b in categories_searched %}
                    <input type="checkbox" class="custom-control-input" id="{{ b }}" value="{{ b }}"
                           name="category" checked>
                    {% else %}
                    <input type="checkbox" class="custom-control-input" id="{{ b }}" value="{{ b }}"
                           name="category">
                    {% endif %}
                    <label class="custom-control-label" for="{{ b }}">{{ b }}</label>
                </div>
                {% endfor %}

                <h3>Price</h3>
                <div class="form-row align-items-center">
                    <div class="col">
                        {% if search_query.get('min_price') %}

                        <input type="number" class="form-control mb-2" id="min-price"
                               value="{{ search_query.get('min_price') }}" name="min_price"
                               placeholder="min">

                        {% else %}
                        <input type="number" class="form-control mb-2" id="min-price" value="min_price" name="min_price"
                               placeholder="min">

                        {% endif %}

                    </div>
                    <div class="col">
                        {% if search_query.get('max_price') %}

                        <input type="number" class="form-control mb-2" id="max-price"
                               value="{{ search_query.get('max_price') }}" name="max_price"
                               placeholder="max">

                        {% else %}

                        <input type="number" class="form-control mb-2" id="max-price" value="max_price"name="max_price"
                               placeholder="max">

                        {% endif %}
                    </div>

                    <div class="container text-right">
                        <p>
                            <input class="btn btn-primary" type="submit" value="Search">
                        </p>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

            <div class="row">
                <div class="col-lg-9 col-md-6 mb-4">

                </div>
            </div>


            <div class="row">
                {% for game in games_result %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="/{{ game['_id'] }}"><img class="card-img-top" src="{{ game['image_url']}}"
                                                          alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="/{{ game['_id'] }}">{{ game['title'] }}</a>
                            </h4>
                            <p class="card-text">Description</p>
                        </div>
                        <div class="card-footer">
                            <div class="text-muted text-center">&#9733; {{ game['availability_on_card'] }} &#9733;</div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>

            <!-- /.row -->


            <ul class="pagination justify-content-center">
                {% if active_page != 1 %}
                <li class="page-item"><a class="page-link" href="{{ url_for('games_site', **go_to_page(active_page -1 )) }}">Previous</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="{{ url_for('games_site', **go_to_page(active_page -1 )) }}">Previous</a></li>
                {% endif %}


                {% for page in range(1, number_of_pages +1) %}
                {% if page != active_page %}
                <li class="page-item"><a class="page-link" href="{{ url_for('games_site', **go_to_page(page)) }}">{{page}}</a></li>
                {% else %}
                <li class="page-item active"><a class="page-link" href="{{ url_for('games_site', **go_to_page(page)) }}">{{page}}</a></li>
                {% endif %}
                {% endfor %}


                {% if active_page != number_of_pages and number_of_pages != 0 %}
                <li class="page-item"><a class="page-link" href="{{ url_for('games_site', **go_to_page(active_page + 1)) }}">Next</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="{{ url_for('games_site', **go_to_page(active_page + 1)) }}">Next</a></li>
                {% endif %}
            </ul>

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="static/vendor/jquery/jquery.min.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
